<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysBaseConfigMapper">

    <resultMap type="SysBaseConfig" id="SysBaseConfigResult">
        <id     property="configId"              column="config_id"               />
        <result property="sslEnabled"            column="ssl_enabled"             />
        <result property="sslKeyStore"           column="ssl_key_store"           />
        <result property="sslKeyStorePassword"   column="ssl_key_store_password"  />
        <result property="sslPort"               column="ssl_port"                />
        <result property="httpPort"              column="http_port"               />
        <result property="accessDomain"          column="access_domain"           />
        <result property="createBy"              column="create_by"               />
        <result property="createTime"            column="create_time"             />
        <result property="updateBy"              column="update_by"               />
        <result property="updateTime"            column="update_time"             />
        <result property="remark"                column="remark"                  />
    </resultMap>

</mapper>
